<% @title="Find Contacts" %>

<%= render :partial => '/submenu' %>

<div class="page-header"><h1>Users</h1></div>

<% for user in @users %>
  <tr>
    <td><%= image_tag avatar_url(user) %></td>
    <td><%= user.email %></td>
    <% if can? :manage, Relationship %>
        <td><%= link_to "Add Contact", relationships_path(:relation_id => user), :method => :post  %></td>
    <!-- <#% if current_user.id == user.id || current_user.relations.id == user.relation_id %> -->
        <td><%= link_to "Show", user %></td>
    <% end %>
    <% if can? :manage, :all %>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>    
    <% end %>
    <!-- <#% end %> -->
    <br>
    <br>
  </tr>
<% end %>